<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AR_Zhuk_Schema.Properties.Settings.SAPRConnectionString"
            connectionString="Data Source=cad01PIK;Initial Catalog=SAPR;User ID=cad_ar;Password=qwerty!2345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>